body {
  background-color: #ffffff; /* global background color */
}

/* Main content */
.outer {
  background-color: #ffffff; /* main card background color */
}

.head {
  display: none; /* hide head */
}

/* Main container */
.mainouter {
}

/* App bar */
#nav {
  background-color: #6200ee;
}

#nav * {
    color: rgba(255, 255, 255, 87%);
}

/* submit button */
input, #btn, tbody tr td form input, tbody input#qr, #hbsubmit, #outer table .btn {
    background-color: #6200ee;
    color: rgba(255, 255, 255, 87%);
}